
.c1{
    width: 50%;
} 
    .c2{
        width: 50%;
    } 
    .c3, .c4{
        width: 33%;
    } 
    .c5{
        width: 34%;
    }


/*-------------------------------------cuadro---imagen-iglesia----------------------------------------------*/

.iglesia{
    width: 15rem;
    height: 15rem;
}
/*-------------------------------------cuadro---imagen--volcan----------------------------------------------*/

.nubes{
    width: 15rem;
    height: 10rem;
}
/*-------------------------------------cuadro---imagen--comida----------------------------------------------*/

.comida{
    width: 15rem;
    height: 10rem;
}
